<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view form</title>
  </head>
  <body>
    <h1>Create Form</h1>

    <form action="/show" method="post">
      <input
        type="text"
        placeholder="Enter you select field"
        name="selectName"
      />

      <select name="type" onclick="addMore()">
        <option value="">Select your type of value</option>
        <option value="dropdown">Drop Down</option>
        <option value="checkbox">Check box</option>
        <option value="radio">Radio button</option>
      </select>

      <span onclick="addMoreSelect()">Add More Select</span>

      <br />
      <div id="fields_1"></div>
      <br />

      <br />
      <div id="selects"></div>
      <br />

      <input type="submit" onclick="submited()" />
    </form>
  </body>

  <script>
    let type = document.getElementById("type");
    let fields = document.getElementById("fields");

    let curr = "";
    let s = "";

    let count = 1;
    let countSelect = 2;

    function addMoreSelect() {
      console.log("clcikded");

      let selectDiv = document.createElement("div");

      let selects = document.getElementById("selects");

      s = ` <input
    type="text"
    placeholder="Enter you select field"
    name="selectName"
    />

    <select name="type" id="type_${countSelect}" onclick="addMore()">
    <option value="" name="type_${countSelect}">Select your type of value</option>
    <option value="dropdown">Drop Down</option>
    <option value="checkbox">Check box</option>
    <option value="radio">Radio button</option>
    </select>

    <span onclick="addMoreSelect()">Add More Select</span><br>
    <div id="type_${count}"></div>
    <div id="fields_${countSelect}"></div>`;

      countSelect++;

      selectDiv.innerHTML = s;
      selects.appendChild(selectDiv);

      // fetch("/editselect", {
      //   method: "POST",
      //   headers: {
      //     "content-type": "application/json",
      //   },
      // })
      //   .then((res) => {
      //     return res.json();
      //   })
      //   .then((res) => {

      //   });
    }

    function addMore() {
      fetch("/edit", {
        method: "POST",

        headers: { "Content-Type": "application/json" },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          const currFieldId = "fields_" + count;

          console.log(typeof currFieldId, "currentId ");
          let fieldCurrent = document.getElementById(`${currFieldId}`);
          console.log(fieldCurrent, "currelidfi");

          const node = document.createElement("input");
          const node2 = document.createElement("span");

          node2.textContent = "add More";
          node.setAttribute("type", "text");
          node.setAttribute("name", `fields_${count}`);

          console.log(currFieldId, "currentId76 ");
          node2.setAttribute("onclick", `addMoreInside('${currFieldId}')`);
          node2.setAttribute("class", `fields_${count}`);

          fieldCurrent.appendChild(node);
          fieldCurrent.appendChild(node2);

          count++;
        });
    }
    let insides = "";
    let i = 0;

    function addMoreInside(id) {
      let idOption = id;

      let divAppend = document.getElementById(idOption);

      console.log(divAppend, "Div append");

      const node = document.createElement("input");
      const node2 = document.createElement("span");

      node2.textContent = "add More";
      node.setAttribute("type", "text");
      node.setAttribute("name", idOption);
      node2.setAttribute("onclick", `addMoreInside("${idOption}")`);
      node2.setAttribute("class", idOption);

      console.log(node);
      console.log(node2);

      divAppend.appendChild(node);
      divAppend.appendChild(node2);

      console.log(node2.getAttribute("class"));
    }
  </script>
</html>
